body {
  background-color: #fae0df;
}

hr {

  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;

  width: 10%
}
h1 {
  color: #e05297;
  font-stretch: ultra-expanded;
  font: Impact, Charcoal, sans-serif;

}
h3 {
  color: #16A596;
}
